<!-- <header class="header">
    <div class="container">
        <svg width="71" height="61" viewBox="0 0 71 61" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.3224 52.7765C49.8199 52.772 61.5693 42.811 61.5655 30.5281C61.5617 18.2452 49.8061 8.29155 35.3086 8.29605C20.8111 8.30055 9.06168 18.2615 9.0655 30.5444C9.06931 42.8273 20.8249 52.781 35.3224 52.7765Z" stroke="#F7F7FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10.8132 23.1305L59.8132 23.1153M10.8178 37.9573L59.8178 37.9421M33.8503 8.29656C28.9387 14.9692 26.3362 22.6756 26.3386 30.5391C26.341 38.4026 28.9484 46.1074 33.8641 52.777M36.7669 8.29565C41.6826 14.9652 44.29 22.67 44.2924 30.5335C44.2948 38.397 41.6923 46.1034 36.7807 52.7761" stroke="#F7F7FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>

            <p class="logo-title">
                WORLD NEWS
            </p>

            <nav class="site-nav">
               <ul nav-liflex--grow-0</ul>

            </nav>
    
    </div>
</header> -->

<header class="blog-header py-3 container">
  <div
    class=" row flex-nowrap justify-content-between align-items-center"
  >
    <div class="col-4 pt-1">
      <a class="link-secondary" href="#">Subscribe</a>
    </div>
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" href="#">WORLD NEWS</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center">
      <a class="link-secondary" href="#" aria-label="Search">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="mx-3"
          role="img"
          viewBox="0 0 24 24"
        >
          <title>Search</title>
          <circle cx="10.5" cy="10.5" r="7.5" />
          <path d="M21 21l-5.2-5.2" />
        </svg>
      </a>
      <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
    </div>
  </div>
</header>
